body {
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div-container {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}

.post-wrapper {
    margin: 0 0 1em 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;
    border-radius: 5px;
    transition: 0.3s;
}

.post-wrapper:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.post-container {
    display: flex;
    flex-direction: column;
    margin: 1em 0 1em 0;
    border-radius: 5px;
}

.post-title {
    margin: 0 0 5px 0;
    color: rgb(49, 49, 49);
    font-size: medium;
}

.post-content {
    font-size: small;
    margin: 0 0 0 0;
    color: rgb(82, 82, 82);
}

.post-footer {
    display: inline-block;
    margin-top: 1em;
    align-self: end;
    font-size: x-small;
    cursor: pointer;
}

.comment-wrapper {
    margin: 0 0 1em 0;
}

.comment-wrapper-title {
    margin: 0 0 5px 0;
    color: darkblue;
    font-size: medium;
}

.comment-container {
    margin: 0 0 1em 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;
    border-radius: 5px;
    transition: 0.3s;
}

.comment-container:last-child {
    margin: 0 0 0 0;
}

.comment-title {
    margin: 0 0 5px 0;
    color: blue;
    font-size: medium;
}

.comment-content {
    font-size: small;
    margin: 0 0 0 0;
    color: rgb(37, 37, 37);
}

.comment-email {
    font-size: small;
    margin: 0 0 0 0;
    color: blue;
}

.comment-footer {
    margin-top: 10px;
    font-size: x-small;
}

.btn-container {
    width: 800px;
    display: flex;
    justify-content: space-around;
}

.btn {
    width: 150px;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
    border-radius: 50px;
    transition: 0.3s;
    background-color: white;
    color: #ff4742;
    outline: 1px solid #ff4742;
}

.btn:hover {
    background-color: #ff4742;
    color: white;
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

@media only screen and (max-width: 820px) {
    #div-container { width: 95vw; }
    .btn-container { width: 95vw; }
}