#div-container {
    display: flex;
    flex-wrap: wrap;
}

.newDiv {
    margin: 0 1em 1em 0;
    box-shadow: 0px 3px 3px grey;
    padding: 10px;
    border-radius: 5px;
}

#btn {
    text-align: center;
    width: 80px;
    background-color: rgb(255, 94, 94);
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
}

#btn:hover {
    border: 1px;
    border-color: black;
    cursor: pointer;
    background-color: rgb(255, 50, 50);
}